<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<htmlhead th:remove="tag" th:fragment="htmlhead">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta name="renderer" content="webkit">
    <meta name="description" content="overview & stats"/>
    <meta name="keywords" content="">
    <link rel="stylesheet" th:href="@{/common/amaze-ui/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/common/amaze-ui/plugin/data-tables/css/amazeui.datatables.min.css}"/>
    <link rel="stylesheet" th:href="@{/common/amaze-ui/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{/common/amaze-ui/css/admin-black.css}"/>
    <link rel="stylesheet" th:href="@{/common/amaze-ui/css/app.css}"/>
    <link rel="stylesheet" th:href="@{/css/scroll.css}"/>
    <link rel="stylesheet" th:href="@{/common/amaze-ui/plugin/datetime-picker/css/amazeui.datetimepicker.css}"/>
    <link rel="stylesheet" th:href="@{/common/jquery/plugin/clock/flipclock.css}"/>
    <link rel="stylesheet" th:href="@{/common/custom/memo/memo.css}"/>
</htmlhead>